html {
  font-size: 20px;
  /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family:
    'Coming Soon', sans-serif;
  /* 这应该是你从 Google Fonts 得到的其余输出。 */
  background-color: #2378c7;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  width: 600px;
  display: block;
  margin: 0 auto;
}